<!DOCTYPE html>
<html lang="en">

<head>

  <title>WOW Burgers</title>
  <link href="https://fonts.googleapis.com/css?family=Indie+Flower" rel="stylesheet">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
  <link rel="stylesheet" href="/assets/css/burger_style.css" type="text/css" />
  <script src="https://code.jquery.com/jquery.js"></script>


</head>

<body>
  {{{body}}}

    <script src="./assets/js/burgers.js"></script>

</body>

</html>